# Dependencies
/node_modules/

# Build output
/dist/
/build/
/out/

# IDE and editor files
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace

# Test coverage
/coverage/

# Temporary files
npm-debug.log
yarn.lock

# Environment files
.env*  # Ignore all files starting with .env

# Docs
/docs/  # Ignore the entire docs folder

# Logs
*.log

# Other common exclusions
package-lock.json